.col-6{
    font-weight: bold;
}
span {
    padding: 0 0.5rem 0.25rem;
    border-radius: 0.25rem;
    margin-right: .25rem;
    font-size: small;
}
.complete {
    background-color: #bee9d9;
    font-weight: bold;
    color: green;
    border: 1px solid green;
    border-radius: 1.5rem;
} 
.ongoing {
    background-color: #bed1e9;
    font-weight: bold;
    color: blue;
    border: 1px solid blue;
    border-radius: 1.5rem;
}
.hiatus{
    background-color: #e9dfbe;
    font-weight: bold;
    color: orange;
    border: 1px solid gold;
    border-radius: 1.5rem;
}
.action {
    color: #f79d4b;
    border: 1px solid #f79d4b;
}
.bl {
    color: #9de2f9;
    border: 1px solid #9de2f9;
}
.comedy {
    color: #ffca18;
    border: 1px solid #ffca18;
}
.drama { 
    color: #c1b695;
    border: 1px solid #c1b695;
}
.fantasy {
    color: #ac94df;
    border: 1px solid #ac94df;
}
.historical {
    color: #b97a56;
    border: 1px solid #b97a56;
}
.mature {
    color: #ec1c24;
    border: 1px solid #ec1c24;
}
.mystery {
    color: #c5c5c5;
    border: 1px solid #c5c5c5;
}
.nobility {
    color: #4169E1;
    border: 1px solid #4169E1;
}
.obsessive {
    color: #666666;
    border: 1px solid #666666;
}
.otomeisekai {
    color: #fb76a3;
    border: 1px solid #fb76a3;
}
.reincarnation {
    color: #99ea4f;
    border: 1px solid #99ea4f;
}
.revenge {
    color: #277e33;
    border: 1px solid #277e33;
}
.romance {
    color: #f9766f;
    border: 1px solid #f9766f;
}
.schoollife{
    color: #9ecfab;
    border: 1px solid #9ecfab;
}
.shoujo {
    color: #ffaec8;
    border: 1px solid #ffaec8;
}
.shounen {
    color: #6585f5;
    border: 1px solid #6585f5;
}
.sliceoflife {
    color: #fdeca6;
    border: 1px solid #fdeca6;
}
.villainess {
    color: #B026FF  ;
    border: 1px solid #B026FF  ;
}